<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <p class="display-4">What do we do ?</p>
     <p class="lead ">We provide various kinds of train travel utilities and try our best to ease out your journey.
       Check your:</p>
       <ul class="list-unstyled">
         <li class="lead ">current location, </li>
         <li class="lead ">train arrivals,</li>
         <li class="lead ">PNR status,</li>
         <li class="lead ">station and train codes, </li>
         <li class="lead ">fare calculator and many more helpful stuff.</li>
       </ul> 
     <span class="lead" style="font-size: 35px;"><strong>And all of that is free of cost!!</strong></span>


     <p class="lead alert-info"><strong>In Next Update...</strong></p>
      
      <ul  id="updates" >
          
          <li  class="lead " id="lione" style="background-color: lightgreen;font-size: 26px;"><strong >SMS Alerts for your train!</strong></li>
          <li  class="lead " id="litwo" style="background-color: lightgreen;font-size: 26px;"><strong> Many More services to be added!</strong></li>

        </ul>
      
     



 </div>

</div>
<button autofocus id="servicefocusbutton"></button>