
	<audio controls autoplay hidden>

			<source src="assets/audio/login.mp3" type="audio/mpeg">
		  
		  </audio>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-6">
			<h1 class="text-right display-4">Login</h1>
		</div>
		<div class="col-sm-4 text-right">
			<span class="text-right closebutton h4"><span class="text-muted lead">Unfade </span><button class=" closebutton" class="btn-danger" >X</button></span>	
		</div>
	</div>
	

	<hr>
				<form id="loginform" (ngSubmit)="login()" style="padding:10px;border-radius:20px 20px 20px 20px;border-width:2px 1px 2px 1px;border-style:solid;border-color:steelblue;color: black;">
					
	
					<div class="form-group row">
						<label class="col-sm-2 col-form-label ">Email</label>
						<div class="col-sm-10">
							<input id="ch" autofocus class="form-control" type="email" name="email" [(ngModel)]="email" placeholder="Your email here">
						</div>
					</div>
	
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input class="form-control" type="password" [(ngModel)]="password"  name="password" placeholder="password">
							
						</div>
					</div>
					

					
						<div class="form-group form-check">
							<input type="checkbox" name="check" [(ngModel)]="check" class="form-check-input">
							<label class="form-check-label">Terms & Conditions</label>
						</div>

						
						<div class="form-group row">
							<div class="col-sm-12 text-center">
								<button disabled class="btn-lg a btn-success" type="submit"  *ngIf=!check style="background-color: darkgreen;border-color: darkgreen;" type="submit">Login</button>
								<button class="btn-lg a btn-success" onclick="loginformsubmitbutton()" type="submit" name="loginbutton" [(ngModel)]="loginbutton" *ngIf=check  >Login</button>
							</div>
						</div>
					
					
				</form>
			
		<div id="formbottom">
			<div class="lead" ><a  href="/register">Click to register</a> | Forgot Password <a href="#">Click here</a></div>
			
		</div>
		
