<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(lightblue,lightseagreen)">
  <div class="container">
    <h1 class="display-4">Contact Us:</h1>
    <p class="lead ">Drop us a mail: <span class="text-info"><a href="#">guptabhavesh6@gmail.com</a></span></p>
    <p class="lead">Phone: 8683969620</p>
    <p class="lead">Address: Office no. 255 ,<br>Nehru Place,New Delhi 110001</p>

  </div>

</div>
<img class="img-thumbnail" src="assets\images\contactimage.png">
<button autofocus id="servicefocusbutton"></button>