<audio controls autoplay hidden>

        <source src="assets/audio/logindash.mp3" type="audio/mpeg">
      
      </audio>
<p id="logindashboardalert" class="alert alert-success">
 You have successfully loggedin.
</p>
<form>
    <button class="btn btn-lg btn-dark"  type="reset" id="alertbuttonlogindashboard">Click here to turn on the Alerts</button><hr> 
    <input class="form-control" required  type="text" placeholder="Enter the number for alerts" id="logindashboardnumber"><hr><hr><hr>
<button class="btn btn-lg btn-danger"><a  href="/loggedout">Logout</a></button>
</form>


