<!--
<h1 class="display-4 text-center">TrainFare</h1>
<hr>
  
  <form style="padding: 10px;border-radius:20px 20px 20px 20px;border-width:2px 0px 2px 0px;border-style:solid;border-color:steelblue;color: black;">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-center">Train Number</label>
      <div class="col-sm-9">
          <input id="input" class="form-control "  type="text"    placeholder="Type you query here and go!">
         
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Source Stn</label>
      <div class="col-sm-9">
          <input id="input" class="form-control "  type="text"    placeholder="Type you query here and go!">
         <span class="text-muted">Don't know? <a href="/stncode">Find here</a> </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Dest. Stn</label>
      <div class="col-sm-9">
          <input id="input" class="form-control "  type="text"    placeholder="Type you query here and go!">
          <span class="text-muted">Don't know? <a href="/stncode">Find here</a> </span>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Age</label>
      <div class="col-sm-9">
          <input id="input" class="form-control "  type="number"    placeholder="Type you query here and go!">
         
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Class Code</label>
      <div class="col-sm-9">
         
         <select class="form-control" id="input" size="1">
           <option>FC</option>
           <option>1A</option>
           <option>2A</option>
           <option>3A</option>
           <option>CC</option>
           <option>SL</option>
           <option>2S</option>
         </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Quota Code</label>
      <div class="col-sm-9">
          <select class="form-control" id="input" size="1">
              <option>GN</option>
              <option>LD</option>
              <option>DF</option>
              <option>FT</option>
              <option>DP</option>
              <option>TQ</option>
              <option>HP</option>
              <option>SS</option>
          </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Date of Travel</label>
      <div class="col-sm-9">
          <input id="input" class="form-control "  type="date"    placeholder="Type you query here and go!">
         
      </div>
    </div>

    

    <button id="buttontrainsearch" class="btn btn-primary col-sm-12 " type="submit">Go!</button>
  </form>
  <div class="row" style="margin-top:10px;">
    <div class="col-sm-12" style="background-color: #007bff;height:2px;">

    </div>
  </div>
  <div class="results row" id="resdiv" style="overflow: scroll;height:240px; visibility: hidden;">
    <p class="lead  col-sm-12" style="background-color: whitesmoke;color:rgba(0, 0, 0, 0.8);">Results:</p>
    <div class="resfromapi text-left small" >
      <p id="respara"></p>
      
    </div>

  </div>
  
-->
<div style="background-color: #d4edda;height:500px;">
<p class="alert-success lead">This feature is under development. It will be made available in next update!<br>

<br>
<strong>Thanks for visiting us!!</strong></p>
</div>
<button autofocus id="servicefocusbutton"></button>