       


    <div class="jumbotron" id="jumbo" >
            <h1 class="display-3 ">Locate Yourself</h1>
            <p id="abc" class="lead">Know where you are, before going anywhere.Check precise Geolocation of your device.</p>
           
            <p id="tobedropped">Click on Allow permission, if prompted.</p>
            <button  id="mylocbtn" onclick="getLocation()" class="btn btn-lg  btn-primary "><span class="display-4">My Location</span></button>
           <hr> <p id="demo" class="display-4">WE HAVE ALWAYS GOT YOUR BACK.</p>  
        </div>