<audio controls autoplay hidden>

  <source src="assets/audio/railway_bell.mp3" type="audio/mpeg">

</audio>
<h1 class="display-4 text-center">Station Code Finder</h1>
<p class="text-muted text-center">Find Station code by just typing station name or matching word!!</p>
<hr>
  
  <form style="padding: 10px;border-radius:20px 20px 20px 20px;border-width:2px 0px 2px 0px;border-style:solid;border-color:steelblue;background-color:#32383e;color:white;">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Station Name</label>
      <div class="col-sm-9">
          <input id="inputstncode"  class="form-control text-center" name="query" type="text"  [(ngModel)]="query"  placeholder="Type station name">
         
      </div>
    </div>
    <button id="buttonstncode" class="btn btn-primary col-sm-12 text-center" type="submit">Go!</button>
  </form>


  <div class="row" style="margin-top:10px;">
    <div class="col-sm-12" style="background-color: #007bff;height:2px;">

    </div>
  </div>
  <div class="results row" id="resdivstncode" style="overflow: scroll;height:240px; visibility: hidden;">
    <p id="makeitsticky" class="lead  col-sm-12" style="background-color: whitesmoke;color:rgba(0, 0, 0, 0.8);">Results:</p>
    <div class="resfromapi text-left small" >
      <p id="resparastncode"></p>
      
    </div>

  </div>
  <button autofocus id="servicefocusbutton"></button>